.main-column {
    min-height: 480px;
}

.newsHref {
    color: black;
}

aside ul li {
    margin: 15px 15px;
}

#root {
    display: flex;
    background-color: lightgray;
    justify-content: center;
}

.App {
    width: 1200px;
}

.news {
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.comments {
    background-color: antiquewhite;
    margin-top: 30px;
    padding-left: 10px;
}

.general {
    padding-left: 10px;
}

.news {
    padding-left: 10px;
    background-color: lightgray;
}

.roundName {
    text-align: center;
}

.headerContainer {
    display: flex;
}

.headerTitle {
    padding-top: 40px;
    padding-left: 20px;
}
.preloader {
    display: flex;
    justify-content: center;

}